h1,
h2 {
  max-width: 100%;
}
h2 {
  color: var(--gray);
}
section {
  display: grid;
  place-items: center;
  max-width: 1140px;
  margin-right: auto;
  margin-left: auto;
}
section h1,
section h2 {
  font-weight: 600;
  font-size: 50px;
  margin-bottom: 0;
  margin-top: 0;
}
.highlight {
  color: var(--highlight-blue);
}
.hero h2 {
  margin-top: 4px;
  margin-bottom: 12px;
  color: var(--dark-gray);
  font-size: 18px;
  font-weight: 500;
  width: 320px;
}
.hero {
  padding-top: 80px !important;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@supports (height: 100dvh) {
  .hero {
    height: 100dvh;
  }
}

.hero .imgs {
  position: relative;
  width: 420px;
  height: 460px;
  flex-shrink: 0;
}
.hero .gif-one {
  width: 300px;
  height: 275px;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  top: 24px;
}
.hero .gif-two {
  width: 300px;
  height: 275px;
  bottom: 0;
  right: 0;
  z-index: 2;
  position: absolute;
}
.actions {
  display: flex;
  gap: 12px;
  align-items: center;
}
.actions a,
.actions span {
  text-decoration: none;
  color: #ffffff;
  padding: 0.5rem 1.6rem;
  font-size: 20px;
  font-weight: 700;
  display: block;
  border-radius: 4px;
  cursor: url("../cursors/pointer.png"), pointer;
}
.actions .talk {
  background-color: var(--btn-primary);
  border: 1.5px solid var(--btn-primary);
  transition: 0.35s ease-in-out opacity;
}
.actions .services {
  position: relative;
  border: 1.5px solid var(--btn-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.actions .services::after {
  z-index: -1;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  content: "";
  height: 0;
  background-color: var(--btn-secondary);
  transition: 0.25s;
}
.actions .services img {
  margin-top: 1px;
  height: 18px;
  width: 18px;
}
.actions .talk:hover {
  opacity: 0.8;
}
.actions .services:hover::after {
  height: 100%;
}
.actions .services:hover {
  color: #ffffff;
}

.about,
.services-section {
  max-width: 1100px;
  padding: 0 2rem;
  margin-bottom: 5rem;
}
.about p,
.services-section p {
  font-size: 20px;
}
.about a,
.services-section a {
  background-color: var(--btn-primary);
  transition: 0.25s;
  font-size: 20px;
}
.about a:hover,
.services-section a:hover {
  opacity: 0.7;
}
.services-section {
  margin-bottom: 3rem;
}

.benefits-wrapper {
  margin-top: 4rem;
  max-width: 1200px;
}
.benefits h2 {
  margin-bottom: 25px;
}
.cards-wrapper {
  display: flex;
  gap: 1rem;
}
.card {
  width: 330px;
  background-color: var(--purple-background);
  margin-bottom: 24px;
  padding: 18px 22px;
  padding-bottom: 22px;
  border-radius: 4px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.card h3,
.card p {
  margin: 0;
}
.card h3 {
  margin-bottom: 4px;
  font-size: 26px;
  font-weight: 700;
}
.card p {
  font-size: 18px;
}
.card-1 {
  z-index: 1;
}
.card-2 {
  z-index: 2;
}
.card-3 {
  z-index: 3;
}

.blogs {
  margin-top: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1000px;
}
.blog {
  text-align: center;
  display: block;
  text-decoration: underline;
  width: 100%;
  background-color: var(--purple-background);
  padding: 12px 26px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  margin-top: 24px;
  cursor: url("./assets/cursors/pointer.png"), pointer;
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: 0.25s opacity;
  position: relative;
  margin-bottom: 2rem;
}
.blog:hover {
  opacity: 0.8;
}
.blog * {
  margin-top: 0;
  margin-bottom: 0;
}
.blog h3 {
  font-size: 28px;
  font-weight: 700;
}
.blog p {
  font-size: 20px;
}
.blog a {
  text-decoration: none;
  color: var(--text);
}
.blogs .all-wrapper {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}
.blogs .all {
  display: block;
  background-color: var(--btn-primary);
  text-decoration: none;
  padding: 8px 24px;
  font-size: 24px;
  font-weight: 700;
  border-radius: 4px;
  transition: 0.25s;
}
.blogs .all:hover {
  opacity: 0.8;
}

.cta {
  margin-top: 6rem;
  padding: 3rem 2rem;
  text-align: center;
  position: relative;
  display: flex;
  place-items: unset;
  justify-content: center;
  align-items: center;
}
.cta h2 {
  text-align: center;
  max-width: 600px;
  font-size: 42px;
}
.cta .actions {
  margin-top: 28px;
  margin-bottom: 8rem;
  display: grid;
  place-items: center;
}
.cta .talk {
  font-size: 20px;
  padding: 8px 24px;
}
.cta .talk:hover {
  opacity: 0.8 !important;
}
.cta .up {
  position: absolute;
  bottom: 36px;
  right: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 46px;
  height: 46px;
  cursor: url("../cursors/pointer.png"), pointer;
  transition: 0.25s;
}
.cta .up:hover {
  opacity: 0.7;
  bottom: 42px;
}

.hero div {
  max-width: 100%;
}

@media screen and (max-width: 1200px) {
  .hero .imgs {
    width: 320px;
    height: 360px;
  }
  .hero .gif-one {
    width: 200px;
    height: 225px;
  }
  .hero .gif-two {
    width: 200px;
    height: 225px;
  }
}
@media screen and (max-width: 1040px) {
  .benefits-wrapper {
    width: calc(100vw - 70px);
  }
  .blogs > div {
    width: calc(100vw - 70px) !important;
  }
  .blog {
    width: calc(100vw - 70px);
  }
}
@media screen and (max-width: 1030px) {
  .hero {
    justify-content: space-evenly;
  }
}
@media screen and (max-width: 1000px) {
  .hero .imgs {
    width: 220px;
    height: 320px;
  }
  .hero .gif-one {
    width: 175px;
    height: 190px;
  }
  .hero .gif-two {
    width: 175px;
    height: 190px;
  }
}
@media screen and (max-width: 980px) {
  .card h3 {
    font-size: 20px;
  }
  .card p {
    font-size: 16px;
  }
}
@media screen and (max-width: 880px) {
  .cards-wrapper {
    flex-wrap: wrap;
    justify-content: center;
  }
  .card {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 800px) {
  section h2 {
    font-size: 36px;
  }
  .hero h2 {
    font-size: 16px;
  }
}
@media screen and (max-width: 790px) {
  #service-desc {
    font-size: 16px;
  }
  .services .qdesc {
    font-size: 12px;
  }
}
@media screen and (max-width: 746px) {
  .card h3 {
    font-size: 14px;
  }
  .card p {
    font-size: 12px;
  }
}
@media screen and (max-width: 715px) {
  #services-list {
    flex-direction: row;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    padding: 0;
    border: 0;
    justify-content: space-evenly;
    gap: 1.5rem;
  }
  .underline {
    display: none;
  }
  #services-list li {
    flex: 0 1 auto;
    margin-right: 10px;
  }
  #services-list .service {
    padding-bottom: 4px;
  }
  .services-wrapper {
    margin-top: 1rem;
  }
  #service-desc {
    padding-left: 0;
    min-height: 430px;
  }
  .services-wrapper {
    flex-direction: column;
  }
  .qdesc {
    display: none;
  }
  .services .services-container {
    max-width: calc(100vw - 100px);
  }
}
@media screen and (max-width: 690px) {
  .hero .imgs {
    position: absolute;
    z-index: -3;
    opacity: 0.5;
    -webkit-filter: blur(15px);
    -moz-filter: blur(15px);
    -o-filter: blur(15px);
    -ms-filter: blur(15px);
    filter: blur(15px);
  }
  .highlight {
    color: var(--highlight-lighter);
  }
}
@media screen and (max-width: 560px) {
  .blog .arr {
    width: 30px;
  }
  .cta h2 {
    font-size: 28px;
  }
}
@media screen and (max-width: 425px) {
  .blog {
    padding: 12px 18px;
  }
  .blog h3 {
    font-size: 18px;
  }
  .hero .actions {
    margin-top: 24px;
    flex-direction: column !important;
    align-items: center;
    gap: 3px;
  }
  section h1,
  section h2 {
    font-size: 30px;
  }
  h1,
  h2,
  h3 {
    text-align: center;
  }
  .actions .talk {
    width: 152px;
    text-align: center;
  }
  .hero h2 {
    font-size: 18px;
  }
  .actions a,
  .actions > span {
    padding: 0.4rem 1rem;
    font-size: 14px;
  }
  .about p,
  .services-section p {
    font-size: 16px;
  }
  .blog p {
    font-size: 16px;
  }
  .cta .talk {
    font-size: 18px;
  }
}
@media screen and (max-width: 380px) {
  .hero h1 {
    font-size: 24px;
  }
  .hero h2 {
    font-size: 16px;
    padding: 0 1rem;
  }
  .card {
    padding: 12px 16px;
  }
  .about,
  .services-section {
    padding: 0 1.5rem;
  }
}
@media screen and (max-width: 360px) {
  .services .services-container {
    max-width: calc(100vw - 40px);
  }
  section.services {
    padding: 0 1rem;
  }
}
