.services {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 80px;
}

h1 {
  color: #fff;
  font-size: 42px;
  margin-bottom: 1rem;
}

.highlight {
  color: var(--highlight-blue);
}

.quick-access {
  border-radius: 8px;
  margin-bottom: 20px;
}

.quick-access h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.quick-access ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.quick-access li {
  margin: 0;
}

.quick-access a {
  text-decoration: underline;
  color: #5c6bc0;
  font-weight: bold;
  font-size: 18px;
  transition: 0.25s;
}

.quick-access a:hover {
  color: #4557ce;
}

.service-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.service {
  background-color: var(--purple-background);
  padding: 15px 20px;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  position: sticky;
  scroll-margin-top: 100px;
}

h2 {
  font-size: 1.6rem;
  color: var(--text);
  margin-bottom: 15px;
  margin-top: 2px;
  text-align: center;
}

p {
  font-size: 1rem;
  color: var(--text-gray);
  margin-bottom: 2px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-top: 4px;
}

ul li {
  margin-bottom: 2px;
  font-size: 1rem;
  color: var(--text-gray);
}

strong {
  font-weight: bold;
  color: var(--text-gray);
}

@media screen and (max-width: 1160px) {
  .quick-access ul {
    gap: 0.8rem;
  }
}

@media screen and (max-width: 768px) {
  .service-container {
    grid-template-columns: 1fr;
  }

  h2 {
    font-size: 1.4rem;
  }

  p {
    font-size: 0.95rem;
  }
}

@media screen and (max-width: 390px) {
  h1 {
    text-align: center;
  }
}

@media screen and (max-width: 390px) {
  h1 {
    font-size: 34px;
  }
  .service {
    padding: 10px 14px;
  }
  h2 {
    margin-bottom: 0;
  }
}
